<div class="major-container">
  <!-- SPACING -->
  <%= render 'shared/menus/side_menu' %>

  <div class="major-nav-fixed">
    <div class="major-navigation">

      <!-- SEARCH PANEL -->
      <%= render 'shared/dashboards/dash_panel' %>

    </div>
    <div class="major-mid-bar"></div>
  </div>

  <div class="major-white-panel">
    <div class="major-card">
      <!-- PAGE CONTENT -->
      <div class="major-card-content">

        <div class="dash-panel" style="display: flex" id="profile">
          <%= render 'shared/dashboards/profile', user: @user %>
        </div>

        <% if user.group == "ngo" %>
          <div class="dash-panel" style="display: none" id="my_project">
            <%= render 'shared/dashboards/projects', user: @user %>
          </div>
        <% end %>

        <div class="dash-panel" style="display: none" id="engagements">
          <%= render 'shared/dashboards/engagements', user: @user %>
        </div>

        <div class="dash-panel" style="display: none" id="messages">
          <%= render 'shared/dashboards/messages_consolidate', user: @user %>
        </div>

        <div class="dash-panel" style="display: none" id="settings">
          <%= render 'shared/dashboards/settings', user: @user %>
        </div>

      </div>

      <!-- SPACING -->
      <div class="major-right-side-bar"></div>
    </div>
  </div>
</div>
