<% @title = "DevForGood - Dashboard" %>
<div class="full-container">
  <div class="dash-container">
    <div class="dash-welcome-card">
      <h5 class="dash">MY DASHBOARD</h5>
      <p>Welcome back <%= @user.full_name %> !</p>
    </div>

    <div class="dash-tab-container">

      <div class="dash-card-nav">
        <div class="dash-panel-nav">

          <div class="dash-nav-links" id="dash-profile-button">
            <i class="fa fa-user-circle"></i>
            <p>Profile</p>
          </div>

          <% if user.group == "ngo" %>
            <div class="dash-nav-links" id="dash-projects-button">
              <i class="fa fa-pencil-square-o"></i>
              <p>My Projects</p>
            </div>
          <% end %>

          <div class="dash-nav-links" id="dash-engagements-button">
            <i class="fa fa-pencil-square-o"></i>
            <p>Engagements</p>
          </div>

          <div class="dash-nav-links" id="dash-settings-button">
            <i class="fa fa-wrench"></i>
            <p>Settings</p>
          </div>

        </div>
      </div>

      <div class="dash-panel-content">

        <div class="dash-container-row dash-active" id="dash-profile-content">
          <%= render 'shared/dashboards/profile', user: @user %>
        </div>

        <% if user.group == "ngo" %>
          <div class="dash-container-column dash-inactive" id="dash-projects-content">
            <%= render 'shared/dashboards/projects', user: @user %>
          </div>
        <% end %>

        <div class="dash-container-column dash-inactive" id="dash-engagements-content">
          <%= render 'shared/dashboards/engagements', user: @user %>
        </div>

        <div class="dash-container-column dash-inactive" id="dash-settings-content">
          <%= render 'shared/dashboards/settings', user: @user %>
        </div>

      </div>
    </div>
  </div>
</div>
