<div class="full-container">
  <div class="dash-container">
    <div class="dash-welcome-card">
      <h5 class="dash">MY DASHBOARD</h5>
      <p>Welcome back <%= @user.full_name %> !</p>
    </div>

    <div class="dash-tab-container">

      <div class="dash-panel-nav">
        <p class="tab-title" id="profile-button">Profile</p>
        <p class="tab-title" id="profile-button">Engagements</p>
        <p class="tab-title" id="profile-button">Settings</p>
      </div>

      <div class="dash-panel-content">

        <div class="dash-container-row" id="dash-profile">

          <div class="dash-square-cards">
            <div class="dash-square-card">
              <img class="avatar" src="images/avatar.jpg" alt="avatar">
              <h3><%= @user.first_name %> <%= @user.last_name %></h3>
              <p class="user-title"><%= @user.job_title %></p>
              <p><%= @user.email %></p>
              <a href="<%= @user.github %>" ><i class="fa fa-github"></i></a>
              <a href="<%= @user.twitter %>"><i class="fa fa-twitter"></i></a>
              <a href="<%= @user.linkedin %>"><i class="fa fa-linkedin"></i></a>
              <a href="https://<%= @user.facebook %>"><i class="fa fa-facebook"></i></a>
            </div>

            <div class="spacer"></div>

            <div class="dash-square-card">
              <h3>Messages</h3>
            </div>
          </div>

          <!-- ************ CARD STATS  ************** -->
          <div class="card-stats">
            <div class="bs-callout bs-callout-danger">
              <div class="profile-content">
                  <h5>About me</h5>
                  <p><%# @user.bio %></p>
              </div>
            </div>

            <div class="bs-callout bs-callout-danger">
              <div class="profile-content">
                <h5> Project Interests</h5>
                  <p> <%= @user.interests %></p>
              </div>
            </div>

            <div class="bs-callout bs-callout-danger">
              <div class="profile-content">
                <h5> Experience </h5>
                  <p>@user.experience</p>
              </div>
            </div>

          </div>

        </div>

        <div class="dash-container-row" id="dash-engagements">

        </div>

        <div class="dash-container-row" id="dash-settings">


        </div>


      </div>


    </div>

  </div>
</div>



    <div class="tabordion">

      <!-- ************ PROFILE TAB ************** -->
      <!-- rename tab-profile -->
      <!-- <section id="section1">
        <input type="radio" name="sections" id="option1" checked>
        <label class="tab-icons fa fa-user-circle-o" for="option1">
          <p class="tab-title">Profile</p>
        </label>
        <article>
 -->

          <!-- ************ PROFILE BLUE BOX  ************** -->
          <!-- <div class="profile-elements"> -->
               <!-- ************ ID AND MESSAGE CARDS  ************** -->
            <!-- <div class="small-cards">

              <div class="card-profile">
                <img class="avatar" src="images/avatar.jpg" alt="avatar" >
                <h3><%= @user.first_name %> <%= @user.last_name %></h3>
                <p class="user-title"><%= @user.job_title %></p>
                <p><%= @user.email %></p>
                <a href="<%= @user.github %>" ><i class="fa fa-github"></i></a>
                <a href="<%= @user.twitter %>"><i class="fa fa-twitter"></i></a>
                <a href="<%= @user.linkedin %>"><i class="fa fa-linkedin"></i></a>
                <a href="https://<%= @user.facebook %>"><i class="fa fa-facebook"></i></a>
              </div>

              <div class="card-chat">
                <h3>Messages</h3>
              </div>
            </div> -->

            <!-- ************ CARD STATS  ************** -->
            <!-- <div class="card-stats text-left">
              <div class="bs-callout bs-callout-danger">
                <div class="profile-content">
                    <h5>About me</h5>
                    <p><%= @user.bio %></p>
                </div>
              </div>

              <div class="bs-callout bs-callout-danger">
                <div class="profile-content">
                  <h5> Project Interests</h5>
                    <p> <%= @user.interests %></p>
                </div>
              </div>

              <div class="bs-callout bs-callout-danger">
                <div class="profile-content">
                  <h5> Experience </h5>
                    <p>@user.experience</p>
                </div>
              </div>

            </div>
          </div>
        </article>
      </section> -->
<!--
      <section id="section2">
        <input type="radio" name="sections" id="option2">
        <label class="tab-icons fa fa-pencil-square-o"for="option2">
          <p class="tab-title">Engagements</p>
        </label>

        <article>
          <div class="engagement-elements">
            <div class="col-md-4">
              <div class="card-engagement card-3">
               <h5>Project name</h5>
                <p>Learn how to easily customize and modify your app’s design to fit your
                brand across all mobile platform styles.</p>
                <a href="/" class="btnproject">Got to project page</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card-engagement card-3">
                <h3>Card</h3>
                  <p>
                    Learn how to easily customize and modify your app’s design to fit your
                    brand across all mobile platform styles.
                  </p>
              </div>
            </div>
          </div>
        </article>
      </section>

      <section id="section3">
        <input type="radio" name="sections" id="option3">
        <label class="tab-icons fa fa-wrench" for="option3">
          <p class="tab-title">Settings</p>
        </label>
        <article>
          <h2>Settings</h2>
            <p>Edit form</p>
        </article>
      </section>

    </div>
  </div>
</div> -->
