<div class="general-title">Engagements</div>
<% if @user.engagements %>
  <% @user.engagements.each do |eng| %>
    <% if eng.status == 'Pending' %>
      <h2>Status: <%= eng.status %></h2>
      <div class="card-engagement">
        <h5 class="card-engagement-title"><%= eng.project.title %></h5>
        <p class="card-engagement-description"><%= eng.project.description %></p>
        <a href="<%= user_engagement_path(current_user, eng) %>" class="btn-project">Project info <i class="fas fa-chevron-right"></i></a>
      </div>
    <% else %>
      <h2>Status: <%= eng.status %> / <%= eng.dev_status %></h2>
      <div class="card-engagement">
        <h5 class="card-engagement-title"><%= eng.project.title %></h5>
        <p class="card-engagement-description"><%= eng.project.description %></p>
        <a href="<%= user_engagement_path(current_user, eng) %>" class="btn-project">Project info <i class="fas fa-chevron-right"></i></a>
      </div>
    <% end %>
  <% end %>
  <% @user.projects.each do |proj| %>
    <% proj.engagements.each do |eng| %>
      <% if eng.status != "active" && eng.status != "Active" && eng.status != "Closed" %>
        <h2>Status: <%= eng.status %> - Dev: <%= eng.user.first_name %> <%= eng.user.last_name %> / <%= eng.dev_status %></h2>
        <div class="card-engagement">
          <h5 class="card-engagement-title"><%= eng.project.title %></h5>
          <p class="card-engagement-description"><%= eng.project.description %></p>
          <a href="<%= user_engagement_path(current_user, eng) %>" class="btn-project">Project info <i class="fas fa-chevron-right"></i></a>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p>You currently have no engagement.</p>
<% end %>
