<!--start modal-->
 <div class="modal-container" id="modal-messages-window">

   <div class="modal-content-container">
     <!-- Body -->
     <h3><% convo.sender.full_name %></h3>
     <% if @over_ten %>
       <%= link_to "Show previous", '?m=all', class:'button is-link' %>
     <% end %>

     <section id="messages" class="mb4">
       <% convo.messages.each do |message| %>
         <% if message.body %>
           <%= render partial: "messages/show", locals: { message: message }%>
         <% end %>
       <% end %>
     </section>

     <%= form_for [convo, @message] do |f| %>
       <%= f.text_area :body, class: "textarea", placeholder: "Message #{convo.recipient.full_name}..." %>
       <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
       <div class="text-align-right">
         <%= f.submit "Send message", class: "yellow-button", id: "message-submit" %>
       </div>
     <% end %>
   </div>

 </div>
<!-- end modal -->
