<div class="subsection-title"><%= @user.organization.name %></div>

<div class="dash-subsection">
  <div class="dash-announce-row">
    <!-- ACTIVE PROJECTS -->
    <div class="dash-announce">
      <div class="dash-announce-number">
        <%= @user.my_active_projects.count %>
      </div>
      <div class="dash-announce-text">
        active projects
      </div>
    </div>
    <!-- ACTIVE ENGAGEMENTS -->
    <div class="dash-announce">
      <div class="dash-announce-number">
        <%= @user.my_active_engagements.count %>
      </div>
      <div class="dash-announce-text">
        engagements
      </div>
    </div>
    <!-- ACTIVE DEVS -->
    <div class="dash-announce">
      <div class="dash-announce-number">
        <%= @user.my_pending_engagements.count %>
      </div>
      <div class="dash-announce-text">
        pending
      </div>
    </div>
  </div>
</div>

<div class="subsection-title dash-subheader">Your activity</div>

<div class="graphs-container">
  <div class="graph">
    <%= line_chart @user.my_active_projects.group_by_day(:created_at).count %>
    <!-- add in series with engagements -->
  </div>
</div>

<div class="subsection-title dash-subheader">Open projects</div>
<div class="dash-subsection">
  <div class="graphs-grid">
    <% @user.my_active_projects.each do |project| %>
      <div class="graph">
        <%#= @user.my_engagements_by_project(project) %>
        <%= line_chart @user.my_engagements_by_project(project).group_by_day(:created_at).count %>
      </div>
    <% end %>
  </div>
</div>

<div id="active" class="dash-tab-content" style="display: block;">
  <div class="cards-project" >
    <% @user.my_active_projects.each do |project| %>
      <%= render 'shared/cards/project_card', project: project %>
    <% end %>
  </div>
</div>

<div id="inactive" class="dash-tab-content" style="display: none;">
  <div class="cards-project" >
    <% @user.my_inactive_projects.each do |project| %>
      <%= render 'shared/cards/project_card', project: project %>
    <% end %>
  </div>
</div>

</div>
