<div class="subsection-title"><%= @user.organization.name %></div>

<%= @user.organization.name %>


<%= @user.organization.projects.count %>
<% @user.organization.projects.each do |project| %>
  <%= project.title %>
<% end %>

<%= pie_chart User.group(:group).count %>
<%= line_chart User.group_by_day(:created_at).count %>
<%= bar_chart User.group(:group).count %>




<div class="tab">
  <button class="tab-links" onclick="tabEvent(event, 'pending')">Pending</button>
  <button class="tab-links" onclick="tabEvent(event, 'active')">Active</button>
  <button class="tab-links" onclick="tabEvent(event, 'archived')">Archived</button>
</div>

TABS
PENDING
ACTIVE
ARCHIVED


<div id="pending" class="tab-content">
  <h3>PENDING</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="active" class="tab-content">
  <h3>ACTIVE</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="archived" class="tab-content">
  <h3>ARCHIVED</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
