<div class="user-card">

  <% if @user.photo %>
    <div class="user-card-img" style="background-image:
                                              linear-gradient(
                                              rgba(255,255,255,0.1),
                                              rgba(255,255,255,0.1)),
                                              url(<%= @user.photo %>)">
    </div>
  <% end %>

  <div class="user-card-text">

    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    
    <p class="user-title"><%= @user.job_title %></p>
    <p><%= @user.email %></p>

    <div class="dash-social-links">

      <a href="<%= @user.github %>" class="dash-social-link">
        <i class="fab fa-github"></i>
      </a>

      <a href="<%= @user.twitter %>" class="dash-social-link">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="<%= @user.linkedin %>" class="dash-social-link">
        <i class="fab fa-linkedin"></i>
      </a>

      <a href="https://<%= @user.facebook %>" class="dash-social-link">
        <i class="fab fa-facebook"></i>
      </a>

    </div>
  </div>
</div>


<div class="dash-content-card">

  <div class="bookend-item">
    <h5>About me</h5>
    <p><%= @user.bio %></p>
  </div>

  <div class="bookend-item">
    <h5>Project Interests</h5>
    <p><%= @user.interests %></p>
  </div>

  <div class="bookend-item">
    <h5>Experience</h5>
    <p><%= @user.experience %></p>
  </div>

</div>
