<div class="user-card">

  <% if @user.photo %>
    <div class="user-card-img" style="background-image:
                                              linear-gradient(
                                              rgba(255,255,255,0.1),
                                              rgba(255,255,255,0.1)),
                                              url(<%= @user.photo %>)">
    </div>
  <% end %>

  <div class="user-card-text">

    <div class="user-card-name"><%= @user.full_name %></div>

    <div class="user-card-title"><%= @user.job_title %></div>
    <div class="user-card-email"><%= @user.email %></div>

    <div class="dash-social-links">

      <a href="<%= @user.github %>" class="dash-social-link">
        <i class="fab fa-github"></i>
      </a>

      <a href="<%= @user.twitter %>" class="dash-social-link">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="<%= @user.linkedin %>" class="dash-social-link">
        <i class="fab fa-linkedin"></i>
      </a>

      <a href="https://<%= @user.facebook %>" class="dash-social-link">
        <i class="fab fa-facebook"></i>
      </a>

    </div>
  </div>
</div>


<div class="dash-content-card">

  <div class="profile-bookend-item">
    <div class="bookend-title">About me</div>
    <div class="bookend-content"><%= @user.bio %></div>
  </div>

  <div class="profile-bookend-item">
    <div class="bookend-title">Interests</div>
    <div class="bookend-content"><%= @user.interests %></div>
  </div>

  <div class="profile-bookend-item">
    <div class="bookend-title">Experience</div>
    <div class="bookend-content"><%= @user.experience %></div>
  </div>

</div>
