<div class="major-left-side-bar">
  <!-- Hamburger nav button, click to open -->
  <div class="user-nav">
    <i class="fas fa-bars" id="hamburger-nav"></i>
  </div>
  <!--start modal-->
  <div class="modal-nav-container" id="modal-nav-window" style="display:none;">
    <div class="close-nav">
      <button id="click-to-close">
        <i class="fas fa-times"></i>
        Close</button>
    </div>
     <div class="modal-nav-content">
        <div class="modal-nav-links">
          <%= link_to "projects", root_path %>
        </div>
        <div class="modal-nav-links">
          <%= link_to "developers", users_path %>
        </div>
        <div class="modal-nav-links">

          <%= link_to "organizations", organizations_path %>
        </div>
        <div class="modal-nav-links">
          <%= link_to "dashboard", user_path(current_user) %>
        </div>
        <div class="modal-nav-links">
          <%= link_to "log out", destroy_user_session_path, method: :delete %>
        </div>
     </div>

  </div>
  <!-- end modal -->


</div>
