<% if current_user.photo.present? %>
  <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
<% else %>
  <%= cl_image_tag "avatar_blank_hmbgqy.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
<% end %>

<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
  <%= link_to "Dashboard", user_path(current_user), class: "dropdown-item" %>
  <% if current_user.affiliation != "ngo" %>
    <%= link_to "New Project", new_project_path, class: "dropdown-item" %>
    <%= link_to "My Projects", projects_user_path(current_user), class: "dropdown-item" %>
  <% end %>
  <%= link_to "Engagements", user_engagements_path(current_user), class: "dropdown-item" %>
  <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
</div>
