OUT OF USE

<div id="nav-avatar-block">

  <% if current_user.photo.present? %>
    <%= cl_image_tag current_user.photo, class: "user-avatar", id: "nav-user-avatar" %>
  <% else %>
    <%= cl_image_tag "avatar_blank_hmbgqy.png", class: "user-avatar", id: "nav-user-avatar" %>
  <% end %>

  <div id="nav-user-menu">

    <!-- ALL USERS SEE DASHBAORD -->
    <div class="nav-menu-link">
      <%= link_to "Dashboard", user_path(current_user), class: "nav-link" %>
    </div>

    <!-- ONLY NGOS CAN CREATE PROJECT AND VIEW THEIR PROJECTS -->
    <% if current_user.group == "ngo" %>
      <div class="nav-menu-link">
        <%= link_to "New Project", new_project_path, class: "nav-link" %>
      </div>
      <div class="nav-menu-link">
        <%= link_to "My Projects", projects_user_path(current_user), class: "nav-link" %>
      </div>
    <% end %>

    <!-- ALL USERS CAN LOG OUT-->
    <div class="nav-menu-link">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </div>

  </div>
</div>
