
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <h3 class="text-center font-weight-light text-uppercase text-white">Log in</h3>

            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <div class="btnmodals"><%= f.button :submit, "Log In", class: "btnlogin" %></div>
    </div>
  </div>
<% end %>

