<!--start modal-->
 <div class="modal-form-container" id="modal-form-container-<%= project.id %>" data-target='<%= project.id %>' style="display: none;">

   <div class="modal-form-content-container">
     <div id="modal-edit-form-delimiter-<%= project.id %>" data-target='<%= project.id %>'>

       <h3>Apply</h3>
       <%= render "shared/devise_partials/form_to_project_edit", project: project, engagement: engagement %>

     </div>
   </div>

 </div>
<!-- end modal -->

