<div id="global-navbar">

  <!-- LOGO -->
  <%= link_to root_path, id: "nav-logo-link" do %>
    <%= image_tag "logo.png" %>
  <% end %>



  <!-- NAVIGATION OPTIONS -->
  <div class="nav-right-items">
    <% if user_signed_in? %>
  <!-- SEARCH BAR -->
  <div class="nav-center-items">
    <%= form_tag("/search", method: "get", class: "search-bar") do %>
      <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Find your next project" %>
      <%= button_tag(type: "search", class: "btn btn-default") do %>
       <i class="fa fa-search"></i>
      <% end %>
    <% end %>
  </div>
      <%#= render 'shared/menus/notification' %>
    <!-- Hamburger nav button -->
      <%= render 'shared/menus/hamburger' %>
    <!-- User avator dropdown button -->
      <%= render 'shared/menus/user_avatar' %>
    <% else %>
      <a href="#" class="teal-button" id="modal-login-button">
        Log In
        <%= render "shared/devise_partials/modal_login" %>
      </a>
    <% end %>
  </div>
</div>
