<%= simple_form_for [@user, @engagement] do |f| %>
  <% if @engagement.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @engagement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="subsection-title"><%= @engagement.project.title %></div>
    <div class="column is-3 is-offset-1">
      <% if engage_author(@engagement) %>
        <div class="bg-light pa3 mb4 border-radius-3">
          <p class="f6 pb1">Project status:</p>
          <div class="button-group">
            <%= f.select :dev_status, ['Approved (Not currently working on this project)', 'Current (Start Developing 4 Good!)', 'Task Completed (Project pushed to GitHub with detailed commit messages)'] %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
      <% if user_signed_in? && current_user.id != @engagement.user_id %>
        <%= link_to "Message #{@engagement.user.full_name}", conversations_path(sender_id: current_user.id, recipient_id: @engagement.user.id), method: 'post', class:"button is-link" %>
      <% elsif user_signed_in? && current_user.id == @engagement.user_id  %>
        <%= link_to "Conversations", conversations_path %>
      <% else %>

      <%= link_to "Sign up to message #{@engagement.user.name}", new_user_registration_path %>
      <% end %>
    </div>
  </div>

  <%= @engagement.request %>
  <%= f.select :status, ['Accepted', 'Rejected', 'Complete'] %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
