<div class="section-container">
  <% @engagements.each do |eng| %>
    <%= link_to user_engagement_path(current_user, eng) do %>
    <div class="col-md-4">
      <div class="card card-3">
        <img src="<%= eng.project.organization.logo %>"/>
        <div class="card-project-infos">
          <h2><%= eng.status %></h1>
          <h2><%= eng.project.title %></h2>
          <p><strong><%= eng.project.description %></strong></p>
        </div>
        <% if current_user.organization.id != 1 %>
          <%= link_to "Edit", edit_user_engagement_path(current_user, eng)%>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>


