<div class="container d-flex justify-content-around py-5">
  <div class="row">
    <% @engagements.each do |eng| %>
      <div class="card-product mb-3 mr-1 ml-1">
        <img src="<%= eng.project.organization.logo %>"/>
        <div class="card-product-infos">
          <h2><%= eng.status %></h1>
          <h2><%= eng.project.title %></h2>
          <p><strong><%= eng.project.description %></strong></p>
        </div>
        <% if current_user.organization.id != 1 %>
          <%= link_to "Edit", edit_user_engagement_path(current_user, eng)%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

