<!-- OLD DON'T USE -->

<div class="split-index-container">
  <div class="engagement-content">
    <div class="engagement-content-text">
      <div class="engagement-card-header">
        <h2><%= link_to @engagement.project.title, project_path(@project) %></h2>
      </div>
      <div class="project-text">
        <p>
          <span class="mission"><span class="element-tag">Mission: </span></span>
          <%= @organization.mission %>
        </p>
        <p><span class="element-tag">Title:</span> <%= @project.title %></p>
        <p><span class="element-tag">Description: </span><%= @project.description %></p>
        <p><span class="element-tag">Category: </span><%= @project.category %></p>
        <p><span class="element-tag">Deadline: </span><%= @project.deadline %> day(s)</p>
        <p><span class="element-tag">Last submission: </span><%= @project.deadline %> ago</p>

        <% if @engagement.status == 'Pending' && current_user.id == @engagement.project.user_id %>
          <p><span class="element-tag">Engagement pending approval</span></p>
          <%= link_to "Edit engagement", edit_user_engagement_path(@engagement), class: "teal-button" %>
        <% elsif @engagement.status == 'Pending' && current_user.id == @engagement.user_id %>
          <p><span class="element-tag">Engagement pending approval</span></p>
        <% end %>

        <% if @engagement.status != 'Pending' && current_user.id == @engagement.project.user_id %>
          <p><span class="element-tag">Currently assigned to: <%= time_ago_in_words(@engagement.created_at) %> ago</p>
          <p><span class="element-tag">Project documents:</span></p>
          <ul class="list-group">
            <% @engagement.project.project_files.each do |file| %>
              <a href="<%= file.file_url %>"> - <%= file.name %><%= file.format %></a>
            <% end %>
          </ul>
          <%= link_to "Message #{@engagement.user.first_name}", conversations_path(sender_id: current_user.id, recipient_id: @engagement.user.id), method: 'POST', class: "btnlogin" %>
        <% elsif @engagement.status != 'Pending' && current_user.id == @engagement.user_id  %>
          <p><span class="element-tag">Project documents:</span></p>
          <ul class="list-group">
            <% @engagement.project.project_files.each do |file| %>
              <a href="<%= file.file_url %>"> - <%= file.name %><%= file.format %></a>
            <% end %>
          </ul>
          <%= link_to "Edit engagement", edit_user_engagement_path(@engagement), class: "teal-button" %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="engagement-banner" style="background-image:
                                      linear-gradient(
                                      rgba(255,255,255,0.1),
                                      rgba(255,255,255,0.1)),
                                      url(<%= @organization.logo %>)">

      <div class="engagement-chat-text">
        <div class="engagement-card-header">
          <h2>Conversation history</h2>
          <p>Last post <%= time_ago_in_words(@engagement.created_at) %> ago</p>
        </div>
      </div>


  </div>



</div>
