
<%= link_to "All projects", organization_projects_path(current_user) %>
<%= link_to "All engagements", user_engagements_path(current_user) %>
<div><%= render 'shared/projectsCards' %></div>


    <%= render 'shared/navbar' %>
    <%= render 'shared/homebanner' %>
    <%= render 'shared/bannercards' %>
    <%= render 'shared/projectscards' %>
    <%= render 'shared/footer' %>
