<%= render 'shared/homebanner' %>
<%= link_to "All users*", users_path %>
<%= link_to "All organizations*", organizations_path %>
<%= link_to "All projects*", projects_path %>
<%= render 'shared/bannercards' %>
<%= render 'shared/midbanner' %>
<div class="container d-flex justify-content-around my-5" >
  <div class="cards">
    <% @card_num = 6 %>
    <%= render 'shared/project_cards' %>
  </div>
</div>
