<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <div class="row">
        <div class="col pr-5 align-self-start">
          <h1> <%= @organization.name %></h1>
          <p> <%= @organization.mission %></p>
          <%= link_to "Apply Now", new_project_engagement_path(params[:id]), class: "btn btn-primary" %>
        </div>
        <div class="col pr-5 align-self-end" >
          <%= link_to "About NGO", organization_path(@organization), class: "btn btn-primary" %>
        </div>

        <!--      Move button to outside banner
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  then banner position absolute-->
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <%= @project.description %>
  </div>

  <%= render 'shared/footer' %>
</div>


