<div class="project-banner">
  <div class="banner-text">
    <h1><%= link_to @organization.name, organization_path(@organization) %></h1>
    <p><%= @organization.mission %></p>
    <p><%= @project.title %></p>
    <p><%= @project.description %></p>
    <p>Category: <%= @project.category %></p>
    <p>Deadline: <%= @project.deadline %> day(s)</p>

    <% if user_signed_in? && current_user.id != @project.user_id %>
      <%= link_to "Apply Now", new_project_engagement_path(params[:id]), class: "btn btn-primary" %>
    <% elsif user_signed_in? && current_user.id == @project.user_id  %>
      <%= link_to "Edit project", edit_user_project_path(@project), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Sign up to message #{@engagement.user.name}", new_user_registration_path %>
    <% end %>
  </div>
</div>
