<div class="container py-5">
            <!-- Mask & flexbox options-->
<div class="container bg-gradient-light shadow py-5" style="background-image: url('https://images.unsplash.com/photo-1515895309288-a3815ab7cf81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <h3 class="text-center font-weight-light text-uppercase text-white">Log in</h3>
            <div class="card card-signin my-5">
              <div class="card-body">
                  <div class="form-inputs">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                <div/>
              <div/>
            <%= f.submit :submit, class: "btn btn-outline-primary btn-block text-uppercase font-weight-light" %>
          </div>
      <% end %>
        <div class="link my-3"><%= render "devise/shared/links" %></div>
      </div>
    </div>
  </div>
</div>
