<div class="project-content">
  <div class="project-text">
    <p><span class="element-tag">Category: </span><%= project.category %></p>
    <p><span class="element-tag">Deadline: </span><%= project.deadline %> day(s)</p>
  </div>

  <div class="apply-accordion-item">
    <div class="apply-content" style="display: none;">

      <div class="form-content-container">
        <!-- LINK TO ENGAGEMENT FORM -->
        <% if user_signed_in? && current_user.id != project.user_id %>
          <%= render "engagements/form", project: project, engagement: @engagement %>
          <%# link_to "Submit", new_project_engagement_path(params[:id]), class: "teal-button project-submit-button" %>
        <% elsif user_signed_in? && current_user.id == project.user_id  %>
          NEED TO FIX HERE
          <%= render "projects/edit", project: project %>
          <%# link_to "Edit", edit_user_project_path(project), class: "teal-button project-submit-button" %>
        <% else %>
        <% end %>
      </div>

    </div>

    <% if user_signed_in? && current_user.id != project.user_id %>
      <a href="#" class="teal-button" id="modal-projectApply-button">
        APPLY NOW
        <%= render "shared/devise_partials/modal_project_apply", project: project, engagement: @engagement %>
      </a>
    <% elsif user_signed_in? && current_user.id == project.user_id  %>
      <a href="#" class="teal-button" id="modal-projectEdit-button">
        EDIT
        <%= render "shared/devise_partials/modal_project_edit", project: project %>
      </a>
    <% else %>
    <% end %>

  </div>
</div>
