<div class="project-accordion-item">
  <div class="card-project" style="background-image:
                                        linear-gradient(
                                        rgba(255,255,255,0.4),
                                        rgba(255,255,255,0.4)),
                                        url(<%= project.organization.logo %>)">
    <div class="card-content">
      <div class="card-title"><%= project.title %></div>
      <div class="card-subtitle"><%= project.organization.name %></div>
      <div class="card-description"><%= project.description %></div>
    </div>
  </div>
  <div class="project-accordion-content" style="display: none;">
    FIX FORM RENDER HERE
    <%= render 'shared/cards/project_card_content', project: project %>
  </div>
</div>
