<div class="project-content">
  <div class="project-text">
    <p><span class="element-tag">Category: </span><%= project.category %></p>
    <p><span class="element-tag">Deadline: </span><%= project.deadline %> day(s)</p>
  </div>
  <% if user_signed_in? && current_user.id != project.user_id %>
    <%= render 'shared/cards/project_card_dev', project: project %>
  <% elsif user_signed_in? && current_user.id == project.user_id  %>
    <%= render 'shared/cards/project_card_ngo', project: project %>
  <% else %>
    <%= link_to "Sign up to message #{@engagement.user.name}", new_user_registration_path %>
  <% end %>
</div>
